.sidebar .sidebar-wrapper,
.off-canvas-sidebar .sidebar-wrapper {
    overflow-x: hidden !important;
}

.section-title {
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 25px;
    margin-top: 25px;
}

.stock-list {
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    font-family: -apple-system, ".SFNSText-Regular", "Helvetica Neue", "Roboto",
        "Segoe UI", sans-serif;
}
.toggle {
    cursor: pointer;
    display: inline-block;
}
.toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 58px;
    height: 32px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}
.toggle-switch:before,
.toggle-switch:after {
    content: "";
}
.toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
    background: #56c080;
}
.toggle-checkbox:checked + .toggle-switch:before {
    left: 30px;
}
.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}
.toggle-label {
    margin-left: 15px;
    font-size: 16px;
    position: relative;
    top: 2px;
}

.status-card {
    background-color: #56c080;
    padding: 15px 20px;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.status-card a {
    color: white !important;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 5px;
}
.status-card.low-pad {
    padding: 5px;
}

.low-pad .text {
    margin-left: 20px !important;
}

.status-card.bad {
    background-color: #f11;
}

.overview-card {
    background-color: #567bc0;
}

.status-card .text {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.text .title {
    font-size: 20px;
}
.text .desc {
    opacity: 0.75;
    font-size: 16px;
}

.status-card .icon {
    margin-left: 10px;
    font-size: 30px;
}

.overview-card .text {
    flex-grow: 1;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}

.overview-card .text:first-child {
    margin-left: 10px;
}
.overview-card .text:last-child {
    margin-right: 10px;
}

a {
    color: #567bc0;
}

.facet-container {
    margin-top:30px;
    width: 100%;
    display:flex;
}

.left, .right
{
    flex: 1 1 0px
}

.left
{
    padding-right:10px;
}

.right
{
    padding-left:10px;
}
p {
    clear: both;
    padding-top: 1em;
}
.facet-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top:10px;
    margin-right: 10px;
    width: 100%;
    min-height: 10em;
    font-size: 0.85em;
}
.facet-list li {
    font-size: 1.2em;
    width: 100%;
}
.facet-list li.placeholder {
    height: 10em;
}
.facet 
{
    border-radius:5px;
    background-color: #fafafa;
    cursor: move;
    display:flex;
    padding:10px 15px;
    flex-direction:column;
    margin-bottom:15px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.15);
    transition:box-shadow 100ms;
}

.facet:hover
{
    box-shadow: 0 10px 20px rgba(0,0,0,0.15), 0 6px 6px rgba(0,0,0,0.17);
}

.facet.ui-sortable-helper {
    opacity: 0.5;
}
.placeholder {
    border: 1px solid orange;
    background-color: #fffffd;
}

.mode-title
{
    font-weight:bold;
    font-size:18px;
    margin-left:10px;
}

.facet-section
{
    font-weight:bold;
    font-size:12px;
    opacity:0.75;
}

.facet-section.padded
{
    margin-top:10px;
}
.facet .images-container
{
    overflow-x:auto;
    margin-top:5px;
    margin-bottom:15px;
}
 
.facet .images-container img
{
    width:70px;
    display:inline-block;
    margin-right:5px;
}

.facet .horizontal-list
{
    display:flex;
    flex-direction:row;
}

.facet .horizontal-list>*
{
    margin-right:8px;
}

.hr
{
    height:1px;
    background-color:#ccc;
    margin-bottom:10px;
}

.dashboard-section-title
{
    font-size:25px;
    padding-bottom:5px;
    border-bottom:2px solid #ddd;
}

.facet .actions
{
    display:flex;
    flex-direction:row;
    margin-top:5px;
}

.facet .actions>*
{
    flex:1 1;
}

.facet .actions>*:first-child
{
    margin-right:5px;
}

.btn .fa
{
    margin-right:10px;
}

.water-level
{
    display:flex;
    flex-direction:row;
    justify-items:center;
    align-items:center;
    margin-right:50px;
}

.water-level .vertical-progress
{
    width:30px;
    height:35px;
    background-color:grey;
    margin-right:15px;
    position:relative;
    border-radius:5px;
    overflow:hidden;
}

.water-level .progress-slide
{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:0%;
    background-color:lightskyblue;
    transition:all 250ms;
}

.water-level .text-container
{
    display:flex;
    flex-direction:column;
}
